@import url(https://fonts.googleapis.com/css?family=Muli);
body {
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family:"Muli";
    background: #EDFBFF;
    text-align:center;
}

#upload {
    background:#499E34;
    border-bottom:0;
}

#upload #tri {
    visibility:visible;
}

#upload p {
    color: white;
}

.content {
    margin:20px auto 20px auto;
}

.mydata {
    display:block;
}

.uploadFile {
    margin:auto;
}

.top {
    margin-top:20px;
    
}

.top *{
    display:inline-block;
}

.file {
    font-size:12px;
}

#filename {
  padding: 0.5em;
  float: left;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  background: #66C44F;
}

#fileInput {
    display:none;
}

#file {
    margin-right:10px;
    padding: 0.5em;
    display: inline-block;
    background: #499E34;
    cursor: pointer;
}

#file:hover {
    background: #418A2F;
}

.title * {
    display: block;
}

.title p {
    margin: 0;
    font-size:0.8em;
}

#title {
    border:1px solid black;
    font-family:"Muli";
    padding:2px;
    margin-right:10px;
}

.priceArea * {
    display:block;
}

.priceArea-top p {
    font-size:0.8em;
    margin:0;
}

.priceArea-bottom *{
    display:inline-block;
}

.money {
    margin:0;
}

.price {
    margin-left:2px;
    margin-right:2px;
    width:40px;
    border:1px solid black;
    text-align:center;
}

.bottom {
    margin-top:20px;
}

.bottom * {
    display:inline-block;
    vertical-align:middle;
}

#description {
    resize:none;
    border:1px solid black;
    height:70px;
    padding:5px;
    font-family:"Muli";
    margin-right:10px;
}

#submit {
    font-family:'Muli';
    height:30px;
    background:#66C44F;
    border:1px solid black;
    cursor:pointer;
}
#submit:hover {
    background:#499E34;
}


#datacontent {
    background: #F7FDFF;
    border:1px solid #ABCBD4;
    width:80%;
    margin:0px auto 0 auto;
}

#datacontent ul {
    width: 100%;
    height:50px;
    overflow:hidden;
    margin:0;
    padding:0;
}

#datacontent ul li {
    margin:0;
    list-style-type: none;
    height:48px;
    display:inline-block;
    vertical-align:middle;
    font-size:0.9vw;
    border:1px solid black;
    overflow-x:hidden;
}


#datacontent #labels li {
    font-size:15px;
    font-weight:bold;
    line-height:48px;
    color:black;
}
#datacontent #labels li:hover {
    background:#F7FDFF;
    text-decoration:none;
}

#col1 {
    width:20%;
    font-size:20px;
    font-weight:bold;
    color:#499E34;
}
#col1:hover {
    color:#F7FDFF;
    background:#499E34;
    text-decoration:underline;
}
#col2 {
    width:25%;
}
#col3 {
    width:15%;
}
#col4 {
    width:10%;
}
#col5 {
    width:15%;
}
#col6 {
    width:calc(15% - 12px);
}
