@import url(https://fonts.googleapis.com/css?family=Muli);
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family:"Muli";
    background: linear-gradient(to bottom,  #8b9da9, #fff6e4);
    text-align:center;
}

.name {
    margin-right:20px;
    display:inline-block;
}
.email {
    margin-left:10px;
    display:inline-block;
}
.me {
    
}
 /*My Data*/
 
.mydata {
 font-weight:bold;
 font-size:3em;
}
.x{
    margin-left:10px;
}

.files {
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(255,255,255, 0.3);
    padding-top:10px;
    width:calc(85%);
    border-radius:10px;
}
.box {
    display:inline-block;
    margin-bottom:10px;
    overflow:hidden;
    width:300px;
    line-height:30px;
    background-color:white;
    margin-right:10px;
    margin-left:10px;
    border-radius:10px;
}

.box a {
    text-decoration:none;
    display:inline-block;
}

.box a p {
    color: #2d3235;
}

.box a p:hover {
    text-decoration:underline;
}