.main-header {
    height:50px;
    background: rgba(0, 0, 0, 0.2);
    width:100%;
}

#nav {
    position:absolute;
    margin-left:50px;
}

#nav a {
    display:inline-block;
    text-decoration:none;
    margin-top:15px;
}

#nav a p {
    margin:0;
}

#nav a p:hover {
    text-decoration:underline;
}

#seller-dashboard {
    color:black;   
}

#store {
    margin-left:50px;
    color:black;
}

.logo {
    position:absolute;
    height:40px;
    margin:5px 0 5px 0;
    left:50%;
    transform:translate(-50%,0);
}

#user {
    z-index:10;
    height:36px; 
    width:36px;
    float:right;
    background:url('/images/user-default.png');
    background-size:cover;
    margin:5px 25px 5px 5px;
    border-radius:20px;
    border:2px solid black;
}

#dropdown {
    z-index:5;
    position:absolute;
    top:-500px;
    right:25px;
    width:100px;
    height:500px;
    visibility:hidden;
    transition-duration:0.4s;
}

#dropdown div {
    background:white;
    border-radius:20px;
    border:1px solid black;
    width:100%;
    height:30px;
    margin-bottom:10px;
    cursor:pointer;
}

#dropdown a {
    text-decoration:none;
    color:black;
}

#dropdown a div p {
    line-height:30px;
    margin:0;
}
