@import url(https://fonts.googleapis.com/css?family=Muli);
    
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family:"Muli";
}

 
.box {
    background: rgba(100, 100, 100, 0.5);
    padding-top:20px;
    padding-bottom:15px;
    width: 230px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
} 
 
 
button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid black;
    color: black;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
    color: white;
    background: black;
    border: 2px solid white;
}

 
 
/* All Placeholders*/ 
::-webkit-input-placeholder {
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}

:-ms-input-placeholder {  
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
 
}
/*All Placeholders */


.register {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:220px;
    font-weight:bold;
}

form input {
    width: 200px;
    height: 30px;
    border-radius:10px;
    margin-bottom: 20px;
    text-align:center;
}


a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


#logo {
    margin-top:50px;
    width:300px;
}
.alogin {
    margin-left:20px;
}

.top {
    float:left;
    clear:none;
    text-align:center;
    background: linear-gradient(to top,  #8b9da9, #fff6e4);
    width:100%;
}

.video {
    position:absolute;
    border-width:0px;
    margin-left:auto;
    margin-right:auto;
    margin: 30px calc(50% - 320px) 5px calc(50% - 320px);
}

.black {
    position:absolute;
    background:rgba(0,0,0, 0.5);
    margin:0;
    padding:0;
    width:0;
    height:0;
}


.main-header a {
    color: white;
}

.videobox {
    position:absolute;
    background-color:black;
    width:660px;
    height:520px;
    margin:80px calc(50% - 330px) 20px calc(50% - 330px);
    display:none;
    z-index:99;
}

.exit {
    position:absolute;
    margin-left:620px;
    width:40px;
    height:25px;
    background-color:red;
    cursor:pointer;
    text-align:center;
    font-weight:bold;
    transition: all 0.3s ease 0s;
}

.exit:hover {
    background-color:white;
}

.email {
    margin-bottom:10px;
}

.checkLabel {
    font-weight:normal;
    width:200px;
    font-size:0.6em;
    float:left;
    margin-bottom:10px;
}

.checkInput {
    padding:0;
    margin:0;
    width:30px;
    height:auto;
    display:inline-block;
}

.checkLabel + .checkInput {
    display:block;
}

.play{
    width:50px;
    line-height:50px;
    text-align:center;
    font-size:1.5em;
    cursor:pointer;
    color:red;
    background:white;
    margin-left:auto;
    margin-right:auto;
    border-radius:30px;
    transition:0.6s;
}

.play:hover {
    background:red;
    color:white;
}

.about {
    position:relative;
    float:left;
    margin-right:100%;
    padding:0;
    width:100%;
    height:500px;
    background:black;
    transition: 0.5s;
}

.about-t {
    width:100%;
    background: white;
}

.sell-t {
    margin-left:0 !important;
}

.buy-t {
    margin-left:50% !important;
}

.sell {
    float:left;
    clear:none;
    width: 50%;
    height:100%;
    margin-left:-50%;
    transition: 1s;
    position:absolute;
}

.buy {
    float:left;
    width: 50%;
    height:100%;
    margin-left:100%;
    transition: 1s;
    position:absolute;
}


.sellImage {
    width:500px;
    margin:40 auto 0 auto;
}


#container {
  width: 400px;
  margin:0 0 0 0;
  position:relative;
  display:inline-block;
  height:40px;
}

.loader {
  height: 5px;
  width:90%;
  position:relative;
  top: 50%;
  margin:auto;
}
.loader span {
  position: absolute;
  display: block;
  height: 5px;
  width: 10px;
  background: #5ecb96;
  box-shadow: #5ecb96 0 0 15px;
  animation: animate 2s infinite ease-in-out;
  opacity: 0;
}
.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.5s;
}
.loader span:nth-child(3) {
  animation-delay: 1s;
}
.loader span:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes animate {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
    left: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    left: calc(100% - 10px);
  }
  100% {
    opacity: 0;
    left: calc(100% - 10px);
  }
}

.seller {
    margin:0 0 0 0;
    width:40px;
    height:40px;
    border-radius:40px;
    background:black;
    position:relative;
    display:inline-block;
}

.buyer {
    background:#85CEFF;
}



.about {
    text-align:center;
    background: linear-gradient(to bottom,  #8b9da9, #fff6e4);
}

.text {
    width:500;
    margin:30 auto 0 auto;
    font-size:0.9em;
}