@import url(https://fonts.googleapis.com/css?family=Muli);

#black-overlay {
    background-color: #333;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 50;
}

body {
    margin:0;
    padding:0;
    font-family:"muli";
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/SkylineStock.jpg');
    background-size:cover;
    text-align:center;
}

.header {
    padding:30px;
    height:75px;
    background:rgba(255,255,255,0.3);
}

#logo {
    height:75px;
    float:left;
    margin-left:25%;
}

#logo img{
    height:50px
}

#logo h1 {
    font-size:0.8em;
}

#login{
    vertical-align:middle;
    text-decoration:none;
}

#login div{
    float:right;
    margin-right:25%;
    width:70px;
    height:50px;
    background: #499E34;
    border-radius:10px;
}


#login h1 {
    color:white;
    font-size:1.2em;
}

#login div:hover h1 {
    color:black;
}

.title {
    color:white;
    font-size:5em;
    text-shadow:2px 2px black;
}

#register {
    color:white;
    width:150px;
    line-height:30px;
    background:#499E34;
    margin:0 auto 0 auto;
    border-radius:10px;
    cursor:pointer;
    border-width:2px;
    border-color: white;
    border-style: solid;
}


#register:hover h1 {
    color:black;
}

#register h1 {
    color:white;
}


.box {
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    width: 230px;
    top:150px;
    left:calc(50% - 135px);
    border-radius:5px;
    position:absolute;
    visibility:hidden;
    z-index:51;
} 
 
.box #exit {
    width:20px;
    height:20px;
    background:white;
    border-radius:10px;
    position:absolute;
    top:-8px;
    right:-8px;
    cursor:pointer;
}

.box #exit h1 {
    height:15px;
    font-size:15px;
    margin:0;
}
 
.box button {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    background: #499E34;
    border: 2px white solid;
    color: white;
    font-family:'Muli';
    font-size: 1.5em;
    font-weight:bold;
    cursor: pointer;
}

.box button:hover {
    transition: 0.25s;
    color: black;
}

 
 
/* All Placeholders*/ 
::-webkit-input-placeholder {
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}
:-ms-input-placeholder {  
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
 
}
/*All Placeholders */


.box form {
    margin-left: auto;
    margin-right: auto;
    width:220px;
}

.box input {
    width: 200px;
    height: 30px;
    border-radius:10px;
    margin-bottom: 20px;
    text-align:center;
}

.checkLabel {
    width:200px;
    font-size:0.6em;
    color:white;
}

.box .checkInput {
    margin:0;
    width:30px;
    height:10px;
    color:white;
}

.info {
    width:calc(100% - 100px);
    margin:70px auto 0px auto;
    height:300px;
    background:rgba(0,0,0, 0.6);
    padding:10px;
}

#head {
    color:#499E34;
    font-size:1.6em;
}

#secondUSP {
    color:white;
}

.half {
    float:left;
    width:50%;
}

.sb {
    width:200px;
    height:150px;
    border-radius:10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    transition-duration:0.5s;
}

.sb:hover {
    border-color:#499E34;
    width:90%;
}

.sb h1 {
    color:white;
}

.sb:hover h1 {
    color:#499E34;
}

.sb p {
    height:60px;
    font-size:0.5em;
    color:white;
    visibility:hidden;
    transition-delay:0s;
    overflow:hidden;
}

.sb:hover p {
    visibility:visible;
    transition-delay:0.5s;
}

#sell {
    float:right;
    margin-right:5%;
}

#buy {
    float:left;
    margin-left:5%;
}

.footer {
    height:50px;
    width:30%;
    margin:50px auto 10px auto;
    background:white;
    border-radius:5px;
}

.footer h1 {
    font-weight:bold;
    margin-bottom:0;
    font-size:1.2em;
}

.footer p {
    margin:0;
    color:#499E34;
}
