@import url(https://fonts.googleapis.com/css?family=Muli);


#black-overlay {
    background-color: #333;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 50;
}

body {
    margin:0;
    padding:0;
    font-family:"muli";
    text-align:center;
    position:relative;
    overflow-x:hidden;
    background:#EDFBFF;
}

.landing {
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/SkylineStock.jpg');
    background-size:cover;
    height:940px;
    overflow:hidden;
}

.header {
    padding:30px;
    height:75px;
    background:rgba(255,255,255,0.3);
}

#logo {
    height:75px;
    float:left;
    margin-left:25%;
}

#logo img{
    height:50px
}

#logo h1 {
    font-size:0.8em;
}

#login{
    vertical-align:middle;
    text-decoration:none;
}

#login div{
    float:right;
    margin-right:25%;
    width:70px;
    height:50px;
    background: #499E34;
    border-radius:10px;
}


#login h1 {
    color:white;
    font-size:1.2em;
}

#login div:hover h1 {
    color:black;
}

.title {
    color:white;
    font-size:5em;
    text-shadow:2px 2px black;
}

#register {
    color:white;
    width:150px;
    line-height:30px;
    background:#499E34;
    margin:0 auto 0 auto;
    border-radius:10px;
    cursor:pointer;
    border-width:2px;
    border-color: white;
    border-style: solid;
}


#register:hover h1 {
    color:black;
}

#register h1 {
    color:white;
}


.box {
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    width: 230px;
    top:150px;
    left:calc(50% - 135px);
    border-radius:5px;
    position:absolute;
    visibility:hidden;
    z-index:51;
} 
 
.box #exit {
    width:20px;
    height:20px;
    background:white;
    border-radius:10px;
    position:absolute;
    top:-8px;
    right:-8px;
    cursor:pointer;
}

.box #exit h1 {
    height:15px;
    font-size:15px;
    margin:0;
}
 
.box button {
    height: 40px;
    width: 130px;
    border-radius: 40px;
    background: #499E34;
    border: 2px white solid;
    color: white;
    font-family:'Muli';
    font-size: 1.5em;
    font-weight:bold;
    cursor: pointer;
}

.box button:hover {
    transition: 0.25s;
    color: black;
}

 
 
/* All Placeholders*/ 
::-webkit-input-placeholder {
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
}
:-ms-input-placeholder {  
    font-weight:bold;
    font-family:"Muli";
    text-align: center;
 
}
/*All Placeholders */


.box form {
    margin-left: auto;
    margin-right: auto;
    width:220px;
}

.box input {
    width: 200px;
    height: 30px;
    border-radius:10px;
    margin-bottom: 20px;
    text-align:center;
}

#pw2 {
    margin-bottom:10px;
}

#noMatch {
    font-size:0.8em;
    color:red;
    margin: 0 0 10px 0;
    visibility:hidden;
}

.checkLabel {
    width:200px;
    font-size:0.6em;
    color:white;
}

.box .checkInput {
    margin:0;
    width:30px;
    height:10px;
    color:white;
}

.info {
    width:100%;
    margin:70px auto 0px auto;

    background:rgba(0,0,0, 0.6);
    padding:20px 0 20px 0;
    transition-duration:0.5s;
}

#head {
    color:#499E34;
    font-size:1.6em;
    margin-top:0;
}

#secondUSP {
    color:white;
}

.divider {
    margin:auto;
    height:3px;
    width:20%;
}

.divider .long {
    width:40%;
    height:2px;
    background:white;
    display:inline-block;
    margin:0 4px 0 4px;
}

.divider .dot {
    width:3px;
    height:3px;
    background:white;
    border-radius:3px;
    display:inline-block;
    margin:0 2px 0 2px;
}


.short {
    color:white;
}

#sellScroll, #buyScroll {
    cursor:pointer;
    color:#499E34;
}

#sellScroll:hover, #buyScroll:hover {
    font-weight:bold;
}

.more {
    background:url('/images/cityscape.png');
    background-position:center bottom;
    background-size:100%;
    background-repeat:no-repeat;
    margin-top:50px;
    height:400px;
    width:100%;
    overflow:hidden;
    position:relative;
}


.sell {
    position:absolute;
    width: 100%;
    height:350px;
    left:0%;
    transition-duration:0.3s;
}

.buy {
    position:absolute;
    width: 100%;
    height:350px;
    right:-100%;
    transition-duration:0.3s;
}

.third {
    width:33%;
    height:100%;
}

.third p {
    width:95%;
}

.sell .third {
    float:left;
    height:100%;
}

.vector {
    width:100px;
}

.buy .third {
    float:right;
}

.sbText {
    font-size:50px;
    height:50px;
}

#s {
    color:white;
    font-weight:bold;
    cursor:pointer;
}

#dot {
    color:gray;
}

#b {
    color:gray;
    cursor:pointer;
}







.footer {
    height:50px;
    width:100%;
    margin:0 auto 0 auto;
    background:black;
    color:white;
}

.footer h1 {
    font-weight:bold;
    margin-bottom:0;
    font-size:1.2em;
}

.footer p {
    margin:0;
    color:#499E34;
}

