.menu {
    width: calc(100% - 140px);
    position: relative;
    z-index: 999;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(255,255,255, 0.3);
}
.menu .menuContent {
    line-height: 70px;
    text-align:center;
}
.menu .menuContent ul {
    padding:0;
    margin-left:auto;
    margin-right:auto;
}
.menu .menuContent ul li {
    text-align:center;
    display: inline-block;
    color: #2d3235;
    cursor: pointer;
    margin-left:50px;
    margin-right:50px;
}
.menu .menuContent ul li:hover {
    text-decoration: underline;
}