@import url(https://fonts.googleapis.com/css?family=Muli);
body {
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family:"Muli";
    background: #EDFBFF;
    text-align:center;
}

.content {
    background: #F7FDFF;
    border:1px solid #ABCBD4;
    width:80%;
    margin:20px auto 0px auto;
    padding:10px;
}

.content * {
    margin:5px;
}

.options {
    width:50%;
    margin:auto;
}

.options a {
    display:inline-block;
    text-decoration:none;
    margin:30px 10px 0 10px;
    width:91px;
    border-radius:5px;
}

.options a p {
    padding:3px;
}

.options a p:hover {
    text-decoration:underline;
}

#download {
    color:blue;
    border:2px solid blue;
}

#delete {
    color:red;
    border:2px solid red;
}