@import url(https://fonts.googleapis.com/css?family=Muli);
body {
    margin: 0px;
    padding: 0px;
    font-family:"Muli";
        background: linear-gradient(to bottom,  #8b9da9, #fff6e4);
    text-align:center;
}
.center {
    text-align: center;
}
.payment {
    margin-left:auto;
    margin-right:auto;
}

.box {
    margin:auto;
    width: 50%;
    background-color:rgba(255,255,255,0.7);
    text-align:left;
    border-radius:10px;
    padding:10px;
}

.leftm {
    margin-left:10px;
}

.download {
    text-decoration: none;
}