.priceArea * {
    display:block;
}

.priceArea-top p {
    font-size:0.8em;
    margin:0;
}

.priceArea-bottom *{
    display:inline-block;
}

.money {
    margin:0;
}

.price {
    margin-left:2px;
    margin-right:2px;
    width:40px;
    border:1px solid black;
    text-align:center;
}