@import url(https://fonts.googleapis.com/css?family=Muli);
body {
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family:"Muli";
    background: #EDFBFF;
    text-align:center;
}

.header {
    height:75px;
    background:rgba(0, 0, 0, 0.2);
}

.header * {
    vertical-align:middle;
}

.header form {
    float:left;
    margin:0 0 0 30%;
    height:100%;
}

.header form input {
    font-family:"Muli";
    padding:5px 10px 5px 20px;
    width:200px;
    height:30px;
    border-radius:20px;
    border:1px solid black;
    text-align:center;
    margin:22.5px 0 0 0;
}

#x {
    display:none;
}

#button {
    position:absolute;
    width:30px;
    height:30px;
    background:black;
    border-radius:20px;
    margin-top:22.5px;
    left:30%;
    cursor:pointer;
}

#button:hover p {
    transform: rotate(90deg);
}

#button p {
    font-size:20px;
    margin:0;
    color:white;
    transition-duration:0.8s;
}

#categories {
    float:right;
    margin-right:30%;
    cursor:pointer;
    height:100%;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:60px;
}

#categories:hover {
    background:rgba(0, 0, 0, 0.4)
}

#categories p {
    margin:0;
    font-weight:bold;
    margin-top:25px;
    color:black;
}

#categories:hover p {
    color:white;
}

#categoryDropdown {
    position:absolute;
    top:125px;
    left:0;
    width:100%;
    height:60px;
    background:rgba(0, 0, 0, 0.5);
    visibility:hidden;    
}

#categories:hover #categoryDropdown {
    visibility:visible;
}

#categoryDropdown a {
    text-decoration:none;
}

#categoryDropdown div {
    width: calc(100% / 7);
    height:60px;
    line-height:60px;
    float:left;
}

#categoryDropdown div:hover {
    background: rgba(0,0,0,0.5);
}

#categoryDropdown div p {
    margin:0;
    color:white;
}

#beginBox {
    margin: auto;
    width: 80%;
    background:#499E34;
    display:table;
}

#beginBox * {
    display:table-cell;
}

#beginBox #left {
    width:50%;
    background:black;
}

#beginBox #left .vectorHolder {
    width: calc(100% / 3);
    float:left;
}

#beginBox #left .vectorHolder .vector {
    width:60%;
    margin:auto;
    padding:20%;
    transition-duration:1s;
}


#beginBox #left .vectorHolder:hover .vector {
    transform:rotate(360deg);
}

#beginBox #right {
    vertical-align:middle;
    width:50%;
}

#beginBox #right * {
    margin:0;
    line-height:50px;
    display:block;
    color:white;
}

#beginBox #right h4 {
    font-size:30px;
    text-shadow:1px 1px black;
    margin:0;
}

#beginBox #right p {
    font-size:20px;
    margin:0;
}

#datacontent {
    background: #F7FDFF;
    border:1px solid #ABCBD4;
    width:95%;
    margin:0 auto 20px auto;
}

#datacontent ul {
    width: 100%;
    height:50px;
    overflow:hidden;
    margin:0;
    padding:0;
}

#datacontent ul li {
    margin:0;
    list-style-type: none;
    height:48px;
    display:inline-block;
    vertical-align:middle;
    font-size:0.9vw;
    border:1px solid black;
    overflow-x:hidden;
}


#datacontent #labels li {
    font-size:15px;
    font-weight:bold;
    line-height:48px;
    color:black;
}
#datacontent #labels li:hover {
    background:#F7FDFF;
    text-decoration:none;
}

#col1 {
    width:20%;
    font-size:20px;
    font-weight:bold;
    color:#499E34;
}
#col1:hover {
    color:#F7FDFF;
    background:#499E34;
    text-decoration:underline;
}
#col2 {
    width:25%;
}
#col3 {
    width:15%;
}
#col4 {
    width:10%;
}
#col5 {
    width:15%;
}
#col6 {
    width:calc(15% - 12px);
}