@import url(https://fonts.googleapis.com/css?family=Muli);

body {
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family:"Muli";
    background: #EDFBFF;
    text-align:center;
}

p {
    margin:0;
}

.content {
    margin-top:20px;
}

.uploadFile {
    margin-left:calc(30% + 30px);
}

.uploadFile * {
    margin-bottom:10px;
    height:50px;
}

#block {
    position:absolute;
    left:30%;
    width:20px;
    height:50px;
    background:#499E34;
    margin-left:0;
    box-shadow:1px 1px black;
}

#block .img:hover .info {
    display:block;
}

#block .img img {
    width:15px;
    height:15px;
    margin-left:2.5px;
    margin-top:15px;
    cursor:pointer;
}

#block .img .info {
    width:300px;
    margin:-10px 0 0 5px;
    position:absolute;
    background:white;
    border:2px solid black;
    z-index:99;
    display:none;
}

#block .img .info p {
    position:relative;
    padding:5px;
    text-align:center;
    font-size:10px;
    font-weight:normal;
}

#priceIndexLink {
    text-decoration:none;
}

#priceIndexLink span {
    color:blue;
}

#priceIndexLink span:hover {
    text-decoration:underline;    
}

.file * {
    display:inline-block;
    font-size:0.8em;
    height:19px;
}

#filename {
    background: #397D28;
    padding:5px 20px 5px 20px;
}

#file {
    background: #499E34;
    padding:5px 10px 5px 10px;
    cursor:pointer;
}

#file:hover {
    background:#397D28;
    color:white;
}

#fileInput {
    display:none;
}

.title *{
    display:inline-block;
}

.title p {
    font-size:0.8em;
    margin-right:5px;
    font-weight:bold;
}

.title input {
    border:1px solid black;
    height:29px;
    width:300px;
    padding:5px;
    font-family:'Muli';
}

.sentence *{
    display:inline-block;
}

.sentence p {
    font-size:0.8em;
    margin-right:5px;
    font-weight:bold;
}

.sentence input {
    border:1px solid black;
    height:29px;
    width:470px;
    padding:5px;
    font-family:'Muli';
    font-size:0.6em;
}

.description *{
    display:inline-block;
}

.description p {
    font-size:0.8em;
    margin-right:5px;
    font-weight:bold;
}

.description textarea {
    border:1px solid black;
    width:470px;
    padding:5px;
    font-family:'Muli';
    font-size:0.6em;
    resize:none;
    vertical-align:top;
}

.price * {
    display:inline-block;
}

.price p {
    font-size:0.8em;
    font-weight:bold;
    margin-right:5px;
}

.price .money {
    font-weight:normal;
    margin:0 5px 0 5px;
}

.price input {
    border:1px solid black;
    height:29px;
    padding:5px;
    font-family:'Muli';
    font-size:0.8em;
}

#dollar {
    width:70px;
}

#cent {
    width:50px;
}

.submit {
    cursor:pointer;
    position:absolute;
    left:30%;
    height:50px;
    width:20%;
    border:none;
    background:#499E34;
    box-shadow:1px 1px black;
    font-size:1.1em;
    font-family:'Muli';
}

.submit:hover {
    margin:1px 0 0 1px;
    box-shadow:none;
}