html
  head
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='/css/menu.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/GWhite.png')
    title Dashboard
  body
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    a(href='/logout')
      p.logout Logout
    img.logo(src='/images/GossetMoustacheClear.png')
    .menu
      .menuContent
        ul#tabs
          a(href='/upload')
            li Upload
          a(href='/mydata')
            li My Data
          <!--a(href='/store')
            li Store
          a(href='/cart')
            li Cart[#{user.cart.length}]-->
    h1.name #{user.firstName} #{user.lastName}
    h5.email #{user.email}
      .cart
      .links
      <!--a(href='/data') Graph Data-->