html
  head
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='/css/menu.css', rel='stylesheet')
    link(href='/css/header.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/GWhite.png')
    script(src="//load.sumome.com/", data-sumo-site-id="cf9c68e2af3c5e24ed7c97ee77a049d3f18d6925bb67d9d2d97a0e5793fa0c8e", async="async")
    script.(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-77388290-1', 'auto');ga('send', 'pageview');
    title Dashboard
  body
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    header.main-header
      div.left-col(align="left")
        ul.pages
          a(href='/upload')
            li.login Upload
      div.right-col(align="right")
        ul.pages
          a(href='/logout', align="right")
            p.logout Logout
      a
        img.logo(src='/images/GossetMoustacheClear.png')

    div.me
      h2.name #{user.firstName} #{user.lastName}
      h5.email #{user.email}
    h1.mydata My Data
    .files
    script(src='/scripts/mydata.js')
      <!--a(href='/data') Graph Data-->