html
  head
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='/css/menu.css', rel='stylesheet')
    link(href='/css/header.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/GWhite.png')
    title Dashboard
  body
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    header.main-header
      div.left-col(align="left")
        ul.pages
          a(href='/upload')
            li.login Upload
      div.right-col(align="right")
        ul.pages
          a(href='/logout', align="right")
            p.logout Logout
      a
        img.logo(src='/images/GossetMoustacheClear.png')

    div.me
      h2.name #{user.firstName} #{user.lastName}
      h5.email #{user.email}
    h1.mydata My Data
    .files
    script(src='/scripts/mydata.js')
      <!--a(href='/data') Graph Data-->