head
    title Gosset
    link(rel='shortcut icon', href='/images/GWhite.png')
    link(href='/css/home.css' rel='stylesheet')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/scripts/GA.js')
    script(src="/package/waypoints/lib/jquery.waypoints.min.js")
    script(src='/scripts/home.js')
body
    div.landing
        div.header
            div#logo
                img(src='/images/GossetMoustacheClear.png')
                h1 The Data Marketplace
            div#lr
                div#reg
                    h1 Register
                a#login(href='/login') 
                    div
                        h1 Login
        div(style="height:135px;")
        h1.title Data for Everyone
        div#register
            form(method='post', action='/registerEmail')
                input(type='email', spellcheck='false', placeholder='Email address', name='email')
                button(type='submit') Join
        .box
            div#exit
                h1 ✕
            form(method='post', action='/register')
                input(spellcheck='false', placeholder='First Name', name='firstName')
                input(spellcheck='false', placeholder='Last Name', name='lastName')
                input(type='email', spellcheck='false', placeholder='E-mail', name='email')
                label.checkLabel
                    input.checkInput(type='checkbox', name='receiveEmail', checked='') 
                    | I accept receiving occasional emails!
                input(id="pw1" type='password', placeholder='Password', name='password')
                input(id="pw2" type='password' placeholder="Re-enter Password")
                p#noMatch Passwords do not match.
                button(type='submit') Join
        div.info
            h1#head Unifying data-sellers and data-buyers
            p#secondUSP Data is a resource that lends the world another dimension in guiding actions and decisions. 
            p#secondUSP As a marketplace, Gosset makes this resource ten-fold more accessible.
            div.divider
                div.long
                div.dot
                div.long
            p.short
                span#sellScroll Sell
                span  data by simply uploading an Excel-compatible file.
            p.short
                span#buyScroll Purchase
                span  data by finding your desired data set and downloading.
    div.more
        div.sell
            div.moreHead
                h1#sellingOnGosset Why Sell?
            div#moveLeft
                div#moveLeftContent
                    div.third#1
                        img.vector(src='/images/vectors/Notes.png')
                        h2 Give Data Purpose
                        p Give your relinquished data newfound purpose by selling it to a data-savvy audience.
                    div.third#2
                        img.vector(src='/images/vectors/Paper-Money.png')
                        h2 Earn Money
                        p Earning money on Gosset is easy: Simply upload data sets and wait for customers to buy.
                    div.third#3
                        img.vector(src='/images/vectors/Dollar-Coin.png')
                        h2 Simple Pricing
                        p Gosset's simple 15% commission and easy-to-use price index ensures money in your pocket.
        div.buy 
            div.moreHead
                h1#buyingOnGosset Why Buy?
            div#moveRight
                div#moveRightContent
                    div.third#4
                        img.vector(src='/images/vectors/Key.png')
                        h2 Access Inaccessible Data
                        p Tap into data that is exclusively uploaded on Gosset — nowhere else.
                    div.third#5
                        img.vector(src='/images/vectors/Clock.png')
                        h2 Save Time
                        p Time is a vital asset. Save it for what really matters by purchasing pre-gathered data.
                    div.third#6
                        img.vector(src='/images/vectors/Graph.png')
                        h2 Make Guided Decisions
                        p Using sellers' actionable data, make accurate and guided decisions in every endeavor.
    div.faq 
        h1#title 
            span#big F
            span#small requently
            span#big A
            span#small sked
            span#big Q
            span#small uestions
        div.content
            p.q What kind of data is suitable in Gosset's store?
            p.a We are currently in Phase I, or the process of collecting data. In Phase I, our goal is to be as flexible as possible in terms of data set categories. Upload any data set that you believe adds value to a buyer.
            p.q Is my data and information secure?
            p.a Yes; our database follows a secure, two-factor authentication process, and your password is hashed with a complex algorithm. Additionally, our website's SSL protocol double-edges your security. To top it all, our website is Comodo Secure Certified. 
                img(src='/images/comodo_secure_seal_76x26_transp.png')
            p.q How do I categorize my data?
            p.a During Phase I, every categorization will take place on the back-end. Just upload a data set, and the rest will be taken care of.
            p.q What file types are supported on Gosset?
            p.a We currently support all of the following file extensions: xlsx, xltx, xls, xlw, xml, and csv.
            p.q When will the data store be open to the public?
            p.a Currently, the timeline for store opening is June 26, 2016. Keep your eyes peeled and data ready!
            p.q(style="text-align:center;") Any other questions? Contact us!
        
    
    div.footer
        h1 Contact
        p nathan@gosset.co (847)-754-7568
        
    div#black-overlay(style="width:100%")