head
    title Gosset
    link(rel='shortcut icon', href='/images/GWhite.png')
    link(href='/css/home.css' rel='stylesheet')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/scripts/GA.js')
    script(src='/scripts/home.js')
body
    div.header
        div#logo
            img(src='/images/GossetMoustacheClear.png')
            h1 The Data Marketplace
        a#login(href='/login') 
            div
                h1 Login
    h1.title Data. Without the Hassle.
    div#register
        h1 Register
    .box
        div#exit
            h1 ✕
        form(method='post', action='/register')
            input(spellcheck='false', placeholder='First Name', name='firstName')
            input(spellcheck='false', placeholder='Last Name', name='lastName')
            input(type='email', spellcheck='false', placeholder='E-mail', name='email')
            label.checkLabel
                input.checkInput(type='checkbox', name='receiveEmail', checked='') 
                | I accept receiving occasional emails!
            input(id="pw1" type='password', placeholder='Password', name='password')
            input(id="pw2" type='password' placeholder="Re-enter Password")
            p#noMatch Passwords do not match.
            button(type='submit') Join
    div.info
        h1#head Unlock the power of Data.
        p#secondUSP Data lends the world another dimension in guiding actions and decisions. 
        p#secondUSP Gosset is a marketplace that makes this resource, Data, ten-fold more accessible.
        div.half
            div.sb#sell
                h1 Sell
                    p Unlock the dreams of others by uploading data sets on Gosset. Gosset provides an easy-to-use marketplace interface. You sell, you earn, and Gosset charges a simple 7% commission.
        div.half
            div.sb#buy
                h1 Buy
                    p Unleash the potential of your endeavors through data. Gosset's easy-to-use marketplace interface allows for a frictionless buying experience. Purchase, download, then utilize the data.
    div.footer
        h1 Questions, comments, or concerns?
        p nathan@gosset.co (847)-754-7568
    div#black-overlay(style="width:100%")