head
    title Gosset
    link(rel='shortcut icon', href='/images/GWhite.png')
    link(href='/css/home.css' rel='stylesheet')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/scripts/fingerprint.js')
    script(src='/scripts/GA.js')
    script(src="/package/waypoints/lib/jquery.waypoints.min.js")
    script(src='/scripts/home.js')
body
    div.landing
        div.header
            div#logo
                img(src='/images/GossetMoustacheClear.png')
                h1 The Data Marketplace
            div#lr
                div#reg
                    h1 Register
                a#login(href='/login') 
                    div
                        h1 Login
        div(style="height:135px;")
        h1.title Data. For Everyone.
        div#register
            form(method='post', action='/registerEmail')
                input(type='email', spellcheck='false', placeholder='Email address', name='email')
                button(type='submit') Join
        p#sample or 
            a(href='/product/576d50c430c66a5f0312cf9b')
                span View a Free Sample Data Set
        div.info
            h1#head Unifying data-sellers and data-buyers
            p#secondUSP Data is a resource that lends the world another dimension in guiding actions and decisions. 
            p#secondUSP As a data marketplace, Gosset makes this resource ten-fold more accessible.
            div.divider
                div.long
                div.dot
                div.long
            p.short
                span#sellScroll Sell
                span  data by simply uploading an Excel-compatible file.
            p.short
                span#buyScroll Purchase
                span  data by finding your desired data set and downloading.
    div.more
        div.sell
            div.moreHead
                h1#sellingOnGosset Why Sell?
            div#moveLeft
                div#moveLeftContent
                    div.third#1
                        img.vector(src='/images/vectors/Notes.png')
                        h2 Give Data Purpose
                        p Give your relinquished data newfound purpose by selling it to a data-savvy audience.
                    div.third#2
                        img.vector(src='/images/vectors/Paper-Money.png')
                        h2 New Revenue Streams
                        p Add another revenue stream to your business by simply uploading data sets and waiting for customers to buy.
                    div.third#3
                        img.vector(src='/images/vectors/Dollar-Coin.png')
                        h2 Simple Pricing
                        p Gosset's simple 15% commission and easy-to-use price index ensures money in your pocket.
                    <!--a#tellMore(href='/sell')
                        p Tell me more...-->
        div.buy 
            div.moreHead
                h1#buyingOnGosset Why Buy?
            div#moveRight
                div#moveRightContent
                    div.third#4
                        img.vector(src='/images/vectors/Key.png')
                        h2 Access Inaccessible Data
                        p Tap into data that is exclusively uploaded on Gosset — nowhere else.
                    div.third#5
                        img.vector(src='/images/vectors/Clock.png')
                        h2 Save Time
                        p Time is a vital asset. Save it for what really matters by purchasing pre-gathered data.
                    div.third#6
                        img.vector(src='/images/vectors/Toggles.png')
                        h2 Flexibility
                        p Data downloaded from Gosset will adapt to your systems through SQL, NoSQL, CSV, and other formats.
                    <!--a#tellMore(href='/buy')
                        p Tell me more...-->
    div.faq 
        h1#title 
            span#big F
            span#small requently
            span#big A
            span#small sked
            span#big Q
            span#small uestions
        div.content
            p.q What kind of data is suitable in Gosset's store?
            p.a We are currently in Phase I, or the process of collecting data. In Phase I, our goal is to be as flexible as possible in terms of data set categories. Upload any data set that you believe adds value to a buyer.
            p.q Is my data and information secure?
            p.a Yes; our database follows a secure, two-factor authentication process, and your password is hashed with a complex algorithm. Additionally, our website's SSL protocol double-edges your security. To top it all, our website is Comodo Secure Certified. 
                img(src='/images/comodo_secure_seal_76x26_transp.png')
            p.q How do I categorize my data?
            p.a During Phase I, every categorization will take place on the back-end. Just upload a data set, and the rest will be taken care of.
            p.q What file types are supported on Gosset?
            p.a We currently support all of the following file extensions: xlsx, xltx, xls, xlw, xml, and csv.
            p.q(style="text-align:center;") Any other questions? Contact us!
        
    
    div.footer
        div.contact
            h1 Contact
            p nathan@gosset.co (224)-286-1829
        a(href='/termsofuse')
            h1 Terms of Use
        
    div#black-overlay(style="width:100%")