head
    title Invite
    link(rel='shortcut icon', href='/images/GWhite.png')
    link(href='/css/invite.css', rel='stylesheet')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/scripts/fingerprint.js')
    script(src='/scripts/GA.js')
    script(src="/package/waypoints/lib/noframework.waypoints.min.js")
    script(src='/scripts/invite.js')
body
    .box
        a(href='/')
            img#logo(src='/images/GossetMoustacheClear.png')
        h1#title Join Gosset
        div.content
            div.left
                h1 Invite Your Colleagues 
                h3 Receive one month of commission-free sales and purchases on Gosset for every successful invite.
                button#submit Invite
                a#skip(href='/')
                    h1 Skip
            div.right
                p#head Email Address(es)
                form(method='post', action='/invite')
                    input#hidden(value=ref, name='refEmail', style='display:none;')
                    input(type='email', spellcheck='false', name='email0')
                    input(type='email', spellcheck='false', name='email1')
                    input(type='email', spellcheck='false', name='email2')
                p#addMore + Invite more people