head
    link(rel='shortcut icon', href='/images/GWhite.png')
    title Login
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    link(href='/css/login.css', rel='stylesheet')
    script(src='/scripts/fingerprint.js')
    script(src='/scripts/GA.js')
    script(src='/scripts/login.js')
body
    .login
        a(href='/')
            img#logo(src='/images/GossetMoustacheClear.png')
        form(method='post', action='/login')
            input#email(type='email', spellcheck='false', placeholder='Email', name='email')
            input#password(type='password', placeholder='Password', name='password')
            if (failed)
                p Incorrect login. Please try again.
            button(type='submit') Login