head
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src="https://js.stripe.com/v2/")
    script(src='/scripts/onboardMerchant.js')
body
    a(href='/authorize')
        div(style='width:50px; height:50px; background:black;')
        
    <!--form.business(method='post', action='/onboardMerchant')
        input#creditCard(name='token', style='display:none;')
        select(name='accountType')
            option(value='business') Business
            option(value='individual') Individual
        select(name='country')
            option US
            option Canada
        button(type='submit') Submit-->