form(method='post', action='/resetPassword')
    input(type='email', placeholder='email', name='email')
    input(type='text', placeholder='password', name='password')
    button(type='submit') Submit