html
  head
    link(href='/css/upload.css', rel='stylesheet')
    link(href='/css/menu.css', rel='stylesheet')
    link(href='/css/header.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/GWhite.png')
    script(src="//load.sumome.com/", data-sumo-site-id="cf9c68e2af3c5e24ed7c97ee77a049d3f18d6925bb67d9d2d97a0e5793fa0c8e", async="async")
    script(src='/scripts/GA.js')
    title Upload
  body
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    header.main-header
      div.left-col(align="left")
        ul.pages
          a(href='/upload')
            li.login Upload
      div.right-col(align="right")
        ul.pages
          a(href='/logout', align="right")
            p.logout Logout
      a(href='/dashboard')
        img.logo(src='/images/GossetMoustacheClear.png')
    h1.title Upload
    div(class="uploadbox")
      form.upload(class="upload", method='post', action='/upload', enctype='multipart/form-data')
        div(class="file")
          input#file(type='file', name='file', class="inputFile")
          label(for="file") Choose a File...
        input(class="t", type='text', name='title', placeholder='Title', data-multiple-caption="{count} files selected" multiple)
        textarea(class="d", name='description', placeholder='Description', cols="40", rows="50")
        button#button(type='submit') Submit
    script(src='/scripts/upload.js')
